Main.CSS

.story-top{
	text-align: center;
	max-width: 2000px;
	font-family: Times New Roman, sans-serif} 

h2{
	font-size: 40px;
	border-bottom: 0px;
	text-align: center;}
h3{
	font-family: Times New Roman, sans-serif; 
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 1px;
	text-align: center;
}

.byline{
	font-family: Times New Roman, sans-serif;
	font-size: 15px;
}

.image1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 800px;
}

.graph1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 800px;
}


.figure-caption{
	color: gray;
	font-size: 12px;
	font-family: Georgia, sans-serif;
}

.image2{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 800px;
}



